<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="canonical" href="https://appseed.us/adminlte"/>
 
    <!-- Primary Meta Tags -->
<title>
  {% block title %}Emerald International Collage{% endblock %}
</title>

<!-- inherit CSS only -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.main.css') }}">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
<!--embedding external css and js-->
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard.js') }}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>
  {% include 'inc/side.html' %}
    <main class="content">
    
      {% block content %}{% endblock content %} 
    </main>

  {% include 'inc/scripts.html' %}
    
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}  
  <body>
    {% block body %}
    
    <!-- JavaScript Bundle with Popper -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!--DataTable JS-->
    
    
    {% endblock body %}
    
    </body>
</html>
